h1, header, body {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
}
.hd-contents {
  background-color: #F1EEE9;
  padding: 20px;
}
body {
  background-color: #15133C;
}
.hd-sec {
}
.tit {
  text-align: center;
  padding: 20px;
  font-size: 30px;
}
.acc {
  background-color: #15133C;
  color: #F1EEE9;
}
.answer {
  font-size: 20px;
  font-weight: 600;
}
.bold {
  font-weight: 600;
}