.ir {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  overflow: hidden;

}
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: aqua;
}

#app {
  background-color: aliceblue;
  margin: 50px auto 0;
  width: 800px;
  height: 600px;
  padding: 30px;
  border-radius: 10px;
}
.tit {
  text-align: center;
}
.play {
  position: relative;
  width: 800px;
  height: 500px;
  background-color: aliceblue;
  background-image: url("./images/background.jpg");
  background-size: cover;
  border: 3px solid black;
  border-radius: 10px;
}
.btn {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 800;
  color: darkorange;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.score {
  font-size: 30px;
  font-weight: 600;
  margin-left: 10px;
  float: left;

}
.crab {
  width: 100px;
  height: 60px;
  background-image: url(./images/crab.svg);
  background-size: cover;
  transform: translateY(330px) translateX(350px);
}


.trash {
  width: 70px;
  height: 70px;
  background-image: url(./images/trash.svg);
  background-size: cover;
  animation: drop infinite 3s ease;
  transform: translateX(30px);
}

@keyframes drop {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(500px);
  }
}